<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1062336289419-4ksju4o7m50dbnousavb67b5otnidaj8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1062336289419-4ksju4o7m50dbnousavb67b5otnidaj8</string>
	<key>API_KEY</key>
	<string>AIzaSyBPJeGw1f-hg-dx7hRLUj4C4S17ttmCvuI</string>
	<key>GCM_SENDER_ID</key>
	<string>1062336289419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eventMate</string>
	<key>PROJECT_ID</key>
	<string>event-app-748e5</string>
	<key>STORAGE_BUCKET</key>
	<string>event-app-748e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1062336289419:ios:212f5b8727f4e74770928e</string>
</dict>
</plist>